
<div ng-controller="ProfileController" class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-body">
      <div class="row">
        <div class="modal-block-left">
          <article class="discute-side">
            <div class="main-content">
              <img ng-src="pictures/{{currentDiscute.left.picture}}" ng-dblclick="vote('left', currentDiscute)" alt="{{currentDiscute.left.title}}" class="topic image">
              <h3 class="text-center title">{{currentDiscute.left.title}}</h3>
              <div class="item-block icons">
                <div class="votes" ng-click="vote('left', currentDiscute)">
                  <p class="pull-left">{{currentDiscute.left.votes.length}}</p><div class="thumbs-up" ng-class="{'thumbs-up-active': currentDiscute.left.votes.indexOf(currentUser.username) > -1}"></div>
                  <!-- <img src="images/thumbs-up.png" class="vote-icon"></img> -->

                </div>
                <div class="comments">
                  <p class="pull-right">{{currentDiscute.left.comments.length}} <img src="images/comment.png" class="comment-icon"></img></p>
                </div>
              </div>
            </div>
            <div class="user-content">
              <div class="item-block">
                <div ng-repeat="comment in currentDiscute.left.comments track by $index" class="comment">
                  <p class="comment-text"><a ui-sref="user({username: comment.name})" class="comment-author">{{comment.name}}</a>{{comment.comment}}</p><img ng-src="images/x.png" class="pull-right delete-cross" alt="" ng-show="comment.name === currentUser.username" ng-click="delete_comment('left',comment, $index, currentDiscute)">
                </div>
              </div>
            </div>
            <textarea name="comment" id="" class="comment-section" rows="1" ng-model="currentDiscute.left.comment"
            placeholder="write a comment..." ng-enter="comment(currentDiscute.left.comment, 'left', currentDiscute)"></textarea>
          </article>
        </div>
        <div class="modal-block-center" >
          <header class="text-center" ng-click="closeModal()">
            <img ng-src="pictures/profile/{{currentDiscute.author}}.profile" alt="" ui-sref="user({username: currentDiscute.author})" class="profile-picture img-circle" >
            <a ui-sref="user({username: currentDiscute.author})" class="discuter">{{currentDiscute.author}}</a>
          </header>
          <article class="description text-center">
            {{currentDiscute.description}}
          </article>
          <ul class="tags" ng-repeat="tag in currentDiscute.tags track by $index">
            <li>
              <a ui-sref="search({name: tag.slice(1)})" ng-click="closeModal(); setCurrentTag(tag)">{{tag}}</a>
            </li>
          </ul>
          <div class="date">
            {{currentDiscute.date |date}}
          </div>
          <div ng-show="currentDiscute.author === currentUser.username" class="delete-discute" ng-click="deleteDiscute()" >
            <p>Delete</p>
          </div>
        </div>
        <div class="modal-block-right">
          <article class="discute-side">
            <div class="main-content">
              <img ng-src="pictures/{{currentDiscute.right.picture}}"  ng-dblclick="vote('right', currentDiscute)" alt="{{currentDiscute.right.title}}" class="topic image">
              <h3 class="text-center title">{{currentDiscute.right.title}}</h3>
              <div class="item-block icons">
                <div class="votes" ng-click="vote('right', currentDiscute)">
                  <p class="pull-left">{{currentDiscute.right.votes.length}}</p> <div class="thumbs-up" ng-class="{'thumbs-up-active': currentDiscute.right.votes.indexOf(currentUser.username) > -1}"></div>
                  <!-- <img src="images/thumbs-up.png" class="vote-icon"></img> -->

                </div>
                <div class="comments">
                  <p class="pull-right">{{currentDiscute.right.comments.length}} <img src="images/comment.png" class="comment-icon"></img></p>
                </div>
              </div>
            </div>
            <div class="user-content">
              <div class="item-block">
                <div ng-repeat="comment in currentDiscute.right.comments track by $index" class="comment">
                  <p class="comment-text"><a ui-sref="user({username: comment.name})" class="comment-author">{{comment.name}}</a>{{comment.comment}}</p><img ng-src="images/x.png" class="pull-right delete-cross" alt="" ng-show="comment.name === currentUser.username" ng-click="delete_comment('right',comment, $index, currentDiscute)">
                </div>
              </div>
            </div>
            <textarea name="comment" id="" class="comment-section" rows="1" ng-model="currentDiscute.right.comment"
            placeholder="write a comment..." ng-enter="comment(currentDiscute.right.comment, 'right', currentDiscute)"></textarea>
          </article>
        </div>
      </div>
    </div>
    <div class="pointer-left" ng-click="goLeft()" ng-hide="parentIndex === 0 && index === 0">
      <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
    </div>
    <div class="pointer-right" ng-click="goRight()" ng-hide="parentIndex === user.discuteArray.length -1 && index === user.discuteArray[parentIndex].length - 1">
      <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
    </div>
  </div>