<div class="hidden-sm hidden-xs">
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<article class="discute-side" id="discute-side-left">
				<div class="main-content text-center">
					<img ng-show="discute.picture.left" ng-src="{{leftPicture}}" class="topic image cropped" />
					<img ng-src="images/x.png" class="delete" id="delete-left" ng-click="leftPicture = null" ng-show="discute.picture.left">
					<img ng-show="!discute.picture.left" ng-src="images/no-image.png" ng-click="triggerUpload('left')"  class="topic image">
					<div ng-show="!discute.picture.left">
						<div class="imgSearchBar">
							<input type="text" placeholder="search picture" ng-model="imgSearchLeft" class="imgSearch">
						</div>
						<div ng-click="customSearch(imgSearchLeft, 'left')" class="btn btn-upload-sm"> Search</div>
					</div>
					<h3 class="text-center title"><input type="text" class="text-center no-border" ng-model="discute.left_title" placeholder="add a title"></h3>
					
				</div>
			</article>
		</div>
		<div class="col-md-2" >

			<article class="text-center">
				<textarea name="comment" id="" class="description-area" cols="15" rows="4" ng-model="discute.description"
				placeholder="add a description"></textarea>
			</article>
			<br>
			<ul class="tags" ng-repeat="tag in [0,1,2] track by $index">
				<li>
					<input type="text" ng-model="discute.tags[$index]" class="text-center" placeholder="add a tag">
				</li>
			</ul>
			<br>
			<div class="text-center">
				<div ng-click="upload(leftPicture,rightPicture)" class="btn btn-upload">Upload</div>
			</div>
		</div>
		<div class="col-md-4">
			<article class="discute-side" id="discute-side-right">
				<div class="main-content text-center">
					
					<img ng-show="discute.picture.right" ng-src="{{rightPicture}}" class="topic image cropped" />
					<img ng-src="images/x.png" class="delete" ng-click="rightPicture = null" id="delete-right" ng-show="discute.picture.right">
					<img ng-show="!discute.picture.right" ng-src="images/no-image.png" ng-click="triggerUpload('right')"  class="topic image">
					<div ng-show="!discute.picture.right">
						<div class="imgSearchBar">
							<input type="text" placeholder="search picture" ng-model="imgSearchRight" class="imgSearch">
						</div>
						<div ng-click="customSearch(imgSearchRight, 'right')" class="btn btn-upload-sm"> Search</div>
					</div>
					<h3 class="text-center title"><input type="text" class="text-center no-border" ng-model="discute.right_title" placeholder="add a title"></h3>
				</div>
			</article>
		</div>
	</div>




	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<div ngf-drop ng-model="discute.picture.right" ngf-pattern="image/*" class="cropArea">
				<img-crop area-type="square" result-image-size='{w: 800,h: 800}' init-max-area="true" image="discute.picture.left " result-image="leftPicture" ng-init="leftPicture=''"></img-crop>
			</div>
		</div>
		<div class="col-md-offset-2 col-md-4">
			<div ngf-drop ng-model="discute.picture.left" ngf-pattern="image/*" class="cropArea">
				<img-crop area-type="square" result-image-size='{w: 800,h: 800}'  init-max-area="true" image="discute.picture.right " result-image="rightPicture" ng-init="rightPicture=''"></img-crop>
			</div>	

		</div>
	</div>

	<form name="myForm">
		<button ngf-select ng-model="discute.picture.left" id="upload-image-left" style="display:none" accept="image/*">Select Picture</button>
		<button ngf-select ng-model="discute.picture.right" id="upload-image-right" style="display:none" accept="image/*">Select Picture</button>
		
		<!-- <div>
			<img ng-src="{{rightPicture}}" />
		</div>
		<img ngf-src="discute.picture.left" /> -->
	</form>
</div>
<!-- MOBILE VIEW -->
<div class="hidden-lg hidden-md">
	<div class="row">
		<div class="col-sm-12 col-xs-12 text-center">
			<h3>Left side</h3>
			<article class="discute-side" id="discute-side-left">
				<div class="main-content text-center">
					<img ng-show="discute.picture.left" ng-src="{{leftPicture}}" class="topic image cropped" />
					<img ng-src="images/x.png" class="delete" id="delete-left" ng-click="discute.picture.left = null; leftPicture = null" ng-show="discute.picture.left">
					<img ng-show="!discute.picture.left" ng-src="images/no-image.png" ng-click="triggerUpload('left')"  class="topic image">
					<div ng-show="!discute.picture.left">
						<div class="imgSearchBar">
							<input type="text" placeholder="search picture" ng-model="imgSearchLeft" class="imgSearch">
						</div>
						<div ng-click="customSearch(imgSearchLeft, 'left')" class="btn btn-upload-sm"> Search</div>
					</div>
					<h3 class="text-center title"><input type="text" class="text-center no-border" ng-model="discute.left_title" placeholder="add a title"></h3>
				</div>
			</article>
			<div class="col-sm-12 col-xs-12" ng-show="discute.picture.left">
				<div ngf-drop ng-model="discute.picture.right" ngf-pattern="image/*" class="cropArea">
					<img-crop area-type="square" result-image-size='{w: 800,h: 800}' init-max-area="true" image="discute.picture.left " result-image="leftPicture" ng-init="leftPicture=''"></img-crop>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-xs-12  text-center">
			<h3>Right side</h3>
			<article class="discute-side" id="discute-side-right">
				<div class="main-content text-center">
					
					<img ng-show="discute.picture.right" ng-src="{{rightPicture}}" class="topic image cropped" />
					<img ng-src="images/x.png" class="delete" ng-click="discute.picture.right = null; rightPicture = null" id="delete-right" ng-show="discute.picture.right">
					<img ng-show="!discute.picture.right" ng-src="images/no-image.png" ng-click="triggerUpload('right')"  class="topic image">
					<div ng-show="!discute.picture.right">
						<div class="imgSearchBar">
							<input type="text" placeholder="search picture" ng-model="imgSearchRight" class="imgSearch">
						</div>
						<div ng-click="customSearch(imgSearchRight, 'right')" class="btn btn-upload-sm"> Search</div>
					</div>
					<h3 class="text-center title"><input type="text" class="text-center no-border" ng-model="discute.right_title" placeholder="add a title"></h3>
				</div>
			</article>
			<div class="col-md-offset-2 col-md-4" ng-show="discute.picture.right">
				<div ngf-drop ng-model="discute.picture.left" ngf-pattern="image/*" class="cropArea">
					<img-crop area-type="square" result-image-size='{w: 800,h: 800}'  init-max-area="true" image="discute.picture.right " result-image="rightPicture" ng-init="rightPicture=''"></img-crop>
				</div>	
			</div>
		</div>
		<div class="col-sm-12 col-xs-12 center-side">
			<h3>Center</h3>
			<article>
				<textarea name="comment" id="" class="description-area" cols="15" rows="4" ng-model="discute.description"
				placeholder="add a description"></textarea>
			</article>
			<ul class="tags" ng-repeat="tag in [0,1,2] track by $index">
				<li>
					<input type="text" ng-model="discute.tags[$index]" class="text-center" placeholder="add a tag">
				</li>
			</ul>
			<div class="text-center upload">
				<div ng-click="upload(leftPicture,rightPicture)" class="btn btn-upload">Upload</div>
			</div>
		</div>
	</div>

	<form name="myForm">
		<button ngf-select ng-model="discute.picture.left" id="upload-image-left" style="display:none" accept="image/*">Select Picture</button>
		<button ngf-select ng-model="discute.picture.right" id="upload-image-right" style="display:none" accept="image/*">Select Picture</button>
	</form>
</div>
