<div class="hidden-sm hidden-xs">
	<div class="row trending-block">
		<div class="col-md-4">
			<h3 class="title" ng-show="searchItem == null">Trending</h3>
			<div class="btn-close title" ng-show="searchItem != null">{{searchItem}} <i class="fa fa-times" ng-click="closeSearch()"></i></div>
		</div>

		<div class="col-md-4 ">
			<input type="text" name="searchbar" placeholder="Search for discutes, people, tags, ..." class="searchbar" ng-model="searchTerm" ng-enter="search()">
			<span class="fa fa-search searchicon" ng-click="search()"></span>
		</div>
		<div class="col-md-4">
			<div class="dropdown">
				<button class="btn-xs btn-upload dropdown-toggle" type="button" id="order-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Best rated 
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="order-dropdown">
					<li><a ng-click="order('week')">This week</a></li>
					<li><a ng-click="order('month')">This month</a></li>
					<li><a ng-click="order('year')">This year</a></li>
					<li role="separator" class="divider"></li>
					<li><a ng-click="order('always')">All the time</a></li>
				</ul>
			</div>
		</div>
	</div>
	<ng-include src="'views/partials/discute_search.html'"></ng-include>  

	<!-- <ng-include src="'views/home.html'"></ng-include>  -->
	<div class="modal" id="discuteModal" data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="discuteModalLabel">
		<ng-include src="'views/partials/discute_modal.html'"></ng-include>  
	</div>
	<div class="text-center">
		<a ng-click="searchItem == null ? loadMore('world', discutes) : loadMore('search', searchDiscutes)" ng-show="discutes.length === 21 && discutes.length > 0">Load more</a>
	</div>
</div>






<!-- MOBILE VIEW -->
<div class="hidden-lg hidden-md">
	<!-- <ng-include src="'views/mobile/world.html'"></ng-include>   -->
	<div class="row trending-block">
		<div class="col-sm-12 col-xs-12 world-title">
			<h3 class="title" ng-show="searchItem == null">Trending</h3>
			<div class="btn-close title" ng-show="searchItem != null">{{searchItem}} <i class="fa fa-times" ng-click="closeSearch()"></i></div>
		</div>

		<div class="col-sm-12 col-xs-12 world-searchbar">
			<input type="text" name="searchbar" placeholder="Search for discutes, people, tags, ..." class="searchbar" ng-model="searchTerm" ng-enter="search()">
			<span class="fa fa-search searchicon" ng-click="search()"></span>
		</div>
		<div class="col-sm-12 col-xs-12 text-center">
			<div class="dropdown">
				<button class="btn-xs btn-upload dropdown-toggle" type="button" id="order-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					Best rated 
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="order-dropdown">
					<li><a ng-click="order('week')">This week</a></li>
					<li><a ng-click="order('month')">This month</a></li>
					<li><a ng-click="order('year')">This year</a></li>
					<li role="separator" class="divider"></li>
					<li><a ng-click="order('always')">All the time</a></li>
				</ul>
			</div>
		</div>
	</div>
	<ng-include src="'views/partials/discute_search_mobile.html'"></ng-include>  

	<!-- <ng-include src="'views/home.html'"></ng-include>  -->
	<div class="modal" id="discuteModal" data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="discuteModalLabel">
		<ng-include src="'views/partials/discute_modal.html'"></ng-include>  
	</div>
	<div class="text-center">
		<a ng-click="searchItem == null ? loadMore('world', discutes) : loadMore('search', searchDiscutes)" ng-show="discutes.length === 21 && discutes.length > 0">Load more</a>
	</div>


</div>


