
<div class="col-md-offset-3 col-md-6 edit-profile-box" data-ng-init="profileCtrl.getUser()">
	<div class="row">
		<div class="form-group">
			<div class="col-md-3 hidden-sm hidden-xs" data-toggle="modal" data-target="#profilePictureModal">
				<img ng-src="pictures/profile/{{currentUser.username}}.profile" alt="" class="img-circle edit-picture">
			</div>
			<div class="hidden-lg hidden-md text-center" data-toggle="modal" data-target="#profilePictureModal">
				<img ng-src="pictures/profile/{{currentUser.username}}.profile" alt="" class="img-circle edit-picture">
			</div>
			<div class="col-md-9 text-center">
				<h3>{{profileCtrl.user.username}}</h3>
			</div>
		</div>
	</div>
	
	<form class="form-horizontal" name="profileFrom" ng-submit="profileCtrl.editProfileForm(profileCtrl.user)" ng-show="!profileCtrl.editPassword" novalidate>
		<div class="form-group" ng-class="{ 'has-error' : profileFrom.username.$invalid && !profileFrom.username.$pristine }">
			<aside class="col-md-3">
				<p for="username" class="control-label">Username</p>
			</aside>
			<div class="col-md-9">
				<input type="text" name="username" class="form-control" required id="username" ng-model="profileCtrl.user.username" placeholder="Username" ng-minlength="3" ng-maxlength="25" ng-model-options="{updateOn:'blur'}">
				<p ng-show="profileFrom.username.$error.minlength" class="help-block">Username is too short.</p>
				<p ng-show="profileFrom.username.$error.maxlength" class="help-block">Username is too long.</p>
				<p ng-show="profileCtrl.usernameError" class="invalid-text">Username already exist</p>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : profileFrom.email.$invalid && !profileFrom.email.$pristine }">
			<aside class="col-md-3">
				<p for="email" class="control-label">Email</p>
			</aside>
			<div class="col-md-9">
				<input type="email" name="email" class="form-control" required id="email" ng-model="profileCtrl.user.email" placeholder="Email" ng-model-options="{updateOn:'blur'}">
				<p ng-show="profileFrom.email.$invalid && !profileFrom.email.$pristine" class="help-block">Enter a valid email.</p>
				 <p ng-show="profileCtrl.emailError" class="invalid-text"> Email is already registered</p>
			</div>
		</div>
		<div class="form-group change-password">
			<div class="col-md-offset-3 col-md-9">
				<a ng-click="profileCtrl.editPassword = !profileCtrl.editPassword">Change password</a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-3 col-md-9">
				<button type="submit" class="btn btn-upload">Save changes</button>
				<a href="#">Delete account</a>	
			</div>
		</div>
	</form>



	<!-- Change password form -->
	<form class="form-horizontal" name="passwordForm" ng-submit="profileCtrl.changePasswordForm(profileCtrl.user)" ng-show="profileCtrl.editPassword" novalidate>
		<div class="form-group" ng-class="{ 'has-error' : passwordForm.currentPassword.$invalid && !passwordForm.currentPassword.$pristine }">
			<aside class="col-md-4">
				<p for="current-password" class="control-label">Current password</p>
			</aside>
			<div class="col-md-8">
				<input type="password" class="form-control" name="currentPassword" id="current-password" ng-model="profileCtrl.user.currentPassword" placeholder="Current password" required>
				<p ng-show="passwordForm.currentPassword.$invalid && !passwordForm.currentPassword.$pristine" class="help-block">Current password is required.</p>
				<p ng-show="profileCtrl.currentPasswordError" class="invalid-text">Current password incorrect</p>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine }">
			<aside class="col-md-4">
				<p for="new-password" class="control-label">New password</p>
			</aside>
			<div class="col-md-8">
				<input type="password" class="form-control" name="newPassword" id="new-password" ng-model="profileCtrl.user.newPassword" placeholder="New password" required>
				<p ng-show="passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine" class="help-block">New password is required.</p>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : passwordForm.confirmPassword.$invalid && !passwordForm.confirmPassword.$pristine }">
			<aside class="col-md-4">
				<p for="confirm-password" class="control-label">Confirm password</p>
			</aside>
			<div class="col-md-8">
				<input type="password" name="confirmPassword" id="confirm-password" class="form-control" ng-model="profileCtrl.user.confirmPassword" placeholder="Confirm password" required password-validator="profileCtrl.user.newPassword == profileCtrl.user.confirmPassword" ng-model-options="{updateOn:'blur'}" required>
				<p ng-show="passwordForm.confirmPassword.$invalid && !passwordForm.confirmPassword.$pristine" class="help-block">Passwords don't match.</p>
			</div>
		</div>
		<!-- <div class="form-group">
			<aside class="col-md-3">
				<p for="inputEmail3" class="">Password</p>
			</aside>
			<div class="col-md-9">
				<input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			</div>
		</div> -->
		<div class="form-group change-password">
			<div class="col-md-offset-4 col-md-8">
				<a ng-click="profileCtrl.editPassword = !profileCtrl.editPassword">Edit profile</a>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-4 col-md-8">
				<button type="submit" class="btn btn-upload" ng-disabled="passwordForm.$invalid" >Save changes</button>
			</div>
		</div>
		<div class="hidden-lg hidden-md bottom-space"></div>
	</form>
</div>

<div class="modal" id="profilePictureModal" tabindex="-1" role="dialog" aria-labelledby="profilePictureLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
 
      <div class="modal-body">


      	<button ngf-select ng-model="profileCtrl.profilepicture" id="upload-profile-picture" style="display:none" accept="image/*">Select Picture</button>
      	<div class="text-center" ng-show="!profileCtrl.profilepicture">
      		<img ng-src="images/no-image.png" ng-click="profileCtrl.triggerUpload()"  class="topic image">
      		<h4>Drag or click to upload picture</h4>
      	</div>
        
		<div ngf-drop ng-model="profileCtrl.profilepicture" ng-show="profileCtrl.profilepicture" ngf-pattern="image/*" class="cropArea2">
				<a href="" ng-click="profileCtrl.profilepicture=''">Remove picture</a>
				<img-crop area-type="square" result-image-size='{w: 800,h: 800}' init-max-area="true" image="profileCtrl.profilepicture" result-image="profileCtrl.newProfilePicture" ng-init="profileCtrl.profilepicture=''"></img-crop>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="profileCtrl.closeModal()" class="btn btn-exit" data-dismiss="modal">Close</button>
        <button type="button" ng-click="profileCtrl.upload_picture()" class="btn btn-upload">Save changes</button>
      </div>
    </div>
  </div>
</div>