
<div class="profile-header row" data-ng-init="profileCtrl.getUser()">
  <div class="col-sm-12 col-xs-12">
    <img ng-src="{{rootImgUrl}}{{profileCtrl.user.username}}.profile.png" class="img-circle img-responsive img" ng-class=" currentUser.username === profileCtrl.user.username ? 'own-profile' : currentUser.following.indexOf(profileCtrl.user.username) < 0 ? 'follow': 'following'" ng-click="profileCtrl.follow(profileCtrl.user.username)">
  </div>
  <div class="col-sm-12 col-xs-12">
    <div class="personal-info">
      <div class="profile-title">
        <p class="profile-name">{{profileCtrl.user.username}} </p><span class="fa fa-edit edit-span" ng-show="profileCtrl.user.username === currentUser.username" ui-sref="edit({username: profileCtrl.user.username})"></span>
      </div>
      <div class="logout" ng-show="profileCtrl.user.username === currentUser.username">
        <button class="btn btn-upload" ng-click="profileCtrl.logout()">Logout</button>
      </div>
      <div class="profile-follow" ng-show="profileCtrl.user.username != currentUser.username" >
        <div ng-class="currentUser.following.indexOf(profileCtrl.user.username) < 0 ? 'btn-follow': 'btn-following'" ng-click="profileCtrl.follow(profileCtrl.user.username)">{{currentUser.following.indexOf(profileCtrl.user.username) < 0 ? 'follow': 'following'}}</div>
      </div>
    </div>
  </div>
  <div class="general-info col-sm-12 col-xs-12">
    <div class="pull-left">
      <i class="fa fa-commenting-o fa-lg"></i><b> Discutes</b>: {{profileCtrl.user.discutes.length}}
    </div>
    <div class="pull-right">
      <i class="fa fa-user fa-lg"></i><b> Discuters</b>: {{profileCtrl.user.followers.length}}
    </div>
  </div>
  
</div>
<div class="profile-content">
  <div class="row discutes-profile" ng-repeat="discutes in profileCtrl.user.discuteArray track by $index">
    <div ng-repeat="discute in discutes track by $index" class="discute-block">
      <div class="discute-block-content" ui-sref="mobile-discute-view({id: discute._id})">
        <img ng-src="{{rootImgUrl}}{{discute.left.picture}}.png" alt="" >
        <img ng-src="{{rootImgUrl}}{{discute.right.picture}}.png" alt="">
      </div>
      <div class="discute-block-info">
        <i class="fa fa-clock-o"></i>
        <span>{{discute.date | date}}</span>
      </div>    
    </div>
  </div>
</div>
<div class="modal" id="discuteModal" data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="discuteModalLabel">
  <ng-include src="'js/partials/discute_modal_mobile.html'"></ng-include>  
</div>








